/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.router-active {
    background-color: #e0e0e0;
  }
  
  .router-active:hover {
    background-color: #e0e0e0 !important;
  }
  .button:focus {
    outline: none !important;
  }
  
  button:focus {
    outline: none !important;
  }
  mat-spinner {
    margin: 0px auto;
  }
  
  mat-card .card-header {
    background-color: #101011db;
    color: #ffffff;
  }
  
  .mat-header-cell {
    text-align: center;
    background-color: #101011db;
    color: #ffffff;
  }