 
::ng-deep  .mat-table {
  overflow: auto;
  max-height: 500px;
  width: 100%;
}
 

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

 

.add-panel-button {
  padding: 6px 16px 0px 0px;
}


