<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10" style="display:flex;justify-content:center;align-items:center">
        <mat-card class="example-card">
            <mat-card-header class="card-header">
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row pt-2 pb-5">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10 ">
                       <h5 class="text-center"> {{errorMessage}} </h5>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="row pt-2 pb-5">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="imgcontainer">
                                <img src="../../../../assets/images/browserslist.png" alt="Google Logo" height="50px">
                            </div>
                            <div>
                                <mat-form-field class="pt1">
                                    <input matInput placeholder="Username" formControlName="username">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="pt1">
                                    <input type="password" matInput placeholder="Password" formControlName="password">
                                </mat-form-field>
                            </div>
                            <button [disabled]="!loginForm.valid" mat-raised-button color="primary" class="btn btn-lg btn-block" mat-button>
                                Login
                            </button>
                        </form>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>