
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  mat-card{
    padding: 20px;
    width: 50%;
  }
  .example-card {
      box-shadow: 5px 5px 5px 5px grey;
      margin-top: 5%;
  }
  .pt1 {
      width: 100%;
  } 