<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <h4 style="font-family:lato;">Create Moment</h4>
        </li>
    </ol>
</nav>
<div class="row">
    
    <div class="col-md-12" style="display:flex;justify-content:center;align-items:center">
        <mat-card class="example-card">
            <mat-card-header class="card-header">
                <mat-card-title>Create new moment</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row pt-2 pb-5">
                     
                    <div class="col-md-12 ">
                        <mat-spinner *ngIf="isloadding"></mat-spinner>
                       <h5 class="text-center"> {{errorMessage}} </h5>
                    </div>
                     
                </div>
                <div class="row pt-2 pb-5" *ngIf="!isloadding">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <form [formGroup]="createMomentForm" (ngSubmit)="onSubmit(createMomentForm.value)">
                            <div>
                                <mat-form-field class="pt1">
                                    <input matInput placeholder="Moment Title" formControlName="title">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="fill" class="pt1">
                                    <mat-label>Comment</mat-label>
                                    <textarea matInput formControlName="comment" maxlength="100"></textarea>
                                  </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="example-chip-list" class="pt1">
                                    <mat-chip-list #chipList aria-label="Tag selection">
                                      <mat-chip *ngFor="let tag of tagsList" [selectable]="selectable"
                                               [removable]="removable" (removed)="remove(tag)">
                                        {{tag}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                      </mat-chip>
                                      <input placeholder="New Tags..."
                                             [matChipInputFor]="chipList"
                                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                             [matChipInputAddOnBlur]="addOnBlur"
                                             (matChipInputTokenEnd)="add($event)"
                                             formControlName="tags">
                                    </mat-chip-list>
                                  </mat-form-field>
                            </div>
                            <div class="pb-3">
                                <input #fileInput type="file" (change)="onFileInput($event)" placeholder="Select Moment Image"
                                  formControlName="photoUrl"> <span *ngIf="fileName"> {{ fileName }} </span>
                              </div>
                             
                            <button [disabled]="!createMomentForm.valid" mat-raised-button color="primary" class="btn btn-lg btn-block" mat-button>
                                Save 
                            </button>
                        </form>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>